h1 {
  color : black;
  text-align: center;
  font-weight: bold;
}
  
h2 {
  color : black;
  text-align: center;
  font-weight: bold;
}

h3 {
  text-align: center;
  padding-top: 20px;
}
  
h4 {
  color : black;
  text-align: center;
}

body {
  color: cornsilk;
  background-color: rgb(247, 237, 204);
}

.recommendations {
  background-color: #392768;
  border-color: lavender;
  border-width: 2px;
  border-style: solid;
  border-collapse: collapse;
  padding: 10px;

  color: lavender;
}

.recommendations thead {
  background-color: #080560;
}

.btn-danger {
  color: black;
  align-content: center;
}

#filter-btn, #filter-btn2, #filter-gen, #filter-graph, #filter-pokedex, #view-stats, #name-search { 
  background-color: #e7e7e7; 
  color: black;
  align-content: center;
  display: inline-block;
}
