h1 {
  color : black;
  text-align: center;
  font-weight: bold;
}
  
h2 {
  color : black;
  text-align: center;
  font-weight: bold;
}

h3 {
  text-align: center;
  padding-top: 20px;
}
  
h4 {
  color : black;
  text-align: center;
}

body {
  color: cornsilk;
  background-color: rgb(247, 237, 204);
}
