<!doctype html>
<html lang="en">

<head>
    <title>Movie Recommender</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<script src="/static/js/navbar.js"></script>

<h1>Welcome to the Movie Recommender!</h1> 
<br>
<br>

<div class="container">
          <div class="panel panel-default">
                  <ul class="list-group" id="filters">
                    <div class="panel-body">
                    <form id="filter-form">

                    <li class="filter list-group-item">
                      <label for="input-name">Search for Movie by Name (case sensitive)</label>
                      <input class="form-control" id="input-name" type="text" placeholder="Gladiator">
                    </li>
          
                    <li class="filter list-group-item">
                      <button id="filter-btn" type="submit" class="btn btn-default">Search by Name</button>
                    </li>
                  </form>
                  <br> 
                    <br>
                      <li class="filter list-group-item">
                        <form action="/random" method="get">
                        <input id="click-me" type="submit" value="Click here for a random Movie" class="btn-danger">
                        </form>
                      </li>
                    </div>
                  </ul>
            </div>
    </div>
    
                    </li>
                  </ul>
                </form>
          </div>
 </div>
 <br>
 <h2> The Movie Recommendation Project </h2><br>
 <p>We built a Natural Language Processing (NLP) movie recommender using Python and the SK-Learn kit. The dataset (cited below) gathered 60,000 movies and 1,000,000 user generated tags from IMBD.
   An example of the tags for the movie <b>Titanic</b> are: <br> <br> <i>"drama romance james cameron kate winslet leonardo dicaprio bittersweet catastrophe drama epic historical love true story".</i> <br><br>
   Together, they mentioned actors, directors, descriptions, and more. We cleaned and aggregated the tags grouped by movie_id to create our word soup. Then we made a matrix with the word soup to find
   the cosine_similarity between the tags. This is the machine learning, NLP aspect, which seeks to compare tags between movies, and return the most similar tag relationships.
  
   
   <br><br> We acknowledge and cite: 
   <br><br><b>F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets: History and Context. <br>
   ACM Transactions on Interactive Intelligent Systems (TiiS) 5, 4: 19:1–19:19. <https://doi.org/10.1145/2827872></https:></b>
   <br><br>
  
  </p>
 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

</body>
</html>